@font-face {
  font-family: "DS-DIGI";
  src: url("./assets/fonts/DS-DIGI.TTF");
}

@font-face {
  font-family: "Giants-Inline";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EF_jejudoldam";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.font-digi {
  font-family: "DS-DIGI";
}

.font-dnf {
  font-family: "EF_jejudoldam";
}

body {
  margin: 0;
}

.quotes {
  font-size: 55px;
}

button {
  border: 0;
  background-color: transparent; /*배경 투명*/
}

video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover; /*비율맞춰서 꽉채움*/
  z-index: -1; /*우선순위 후순위 설정*/
}

.container {
  max-width: 1280px;
  margin: auto;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.1);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-size: 32px;
}

.new-quotes {
  display: none;
}

.new-quotes > button {
  background-color: gold;
  padding: 8px 16px;
  margin-left: 8px;
  font-size: 16px;
  border-radius: 8px;
}

.new-quotes-input {
  border: 1px groove goldenrod;
  padding: 4px 8px;
  font-size: 20px;
}

.new-quotes-input:focus {
  outline: none;
} /* 이거 안하면 클릭했을때 파란테두리로 변경됨*/
/* 저기에 포커스 대신 hover는 마우스를 올리기만해도 변경 */
/* 둘다 특정한 "상황"임 이 "상황"에 대한 설정값을 입력해 줘야 다른 상황이 발생 안함 */

.new-quotes-input:focus {
  outline: 2px solid goldenrod;
}

.nft {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nft-img{
  width: 512px;
  height: 512px;
}

.nft-name{
  font-size: 48px;
  background-color: rgba(255, 192, 203, 0.5);
  padding: 8px 16px;
}